.carousel-inner img {
  height: 70vh !important ;
}

.text-red {
  color: red;
}
.bg-red {
  background-color: rgb(230, 43, 30);
}
.bg-black {
  background-color: rgb(0, 0, 0);
}

.text-white-80 {
  color: rgb(114, 113, 113);
}